@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

body {
  background: 0% 0% / 100px 100px repeat
      repeating-linear-gradient(
        to bottom left,
        #4e6ab1ff 0% 10%,
        #91a3cfff 10% 20%,
        #adbadbff 20% 30%,
        #d8deeeff 30% 40%,
        #f4f6faff 40% 50%
      ),
    0% 0% / 100px 100px repeat
      repeating-linear-gradient(
        to bottom right,
        #4e6ab1ff 0% 10%,
        #91a3cfff 10% 20%,
        #adbadbff 20% 30%,
        #d8deeeff 30% 40%,
        #f4f6faff 40% 50%
      ),
    radial-gradient(farthest-corner at 50% 50%, #3b41aaff 0%, #6e8ee9ff 100%);
  background-blend-mode: multiply;

  font-family: "Playwrite DE Grund", cursive;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 24px;
}
main {
  display: none;
  position: relative;
  width: 1000px;
  height: inherit;
  margin: 50px auto;
  background: #ffffffa9;
  text-align: center;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

#furina {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.highlight {
  color: #091465;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background: #fff;
  font-size: 18px;
  box-shadow: 0px 0px 15px rgb(29, 13, 13);
}

.navbar .left-side {
  margin-left: 50px;
  margin-right: auto;
}

.navbar .center li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar .center li:hover {
  color: #091465;
}

.navbar .right-side {
  margin-right: 50px;
  margin-left: auto;
}

.navbar .right-side a {
  color: black;
  text-decoration: none;
}
.navbar .right-side a:hover {
  color: #091465;
}

.divider {
  position: relative;
  background: #091465;
  height: 40px;
}

.about-section {
  min-height: 50vh;
  padding-bottom: 10px;
}

.services-section {
  min-height: 100vh;
  padding-bottom: 100px;
}

.services-section .services-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
  width: 100%;
}

.services-section .services-images img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0px 25px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(29, 13, 13, 0.705);
}

.services-section .services-main-image img {
  width: 450px;
  height: 600px;
}

.contact-section {
  padding-bottom: 25px;
}

.contact-section a {
  color: black;
  text-decoration: none;
}

.introduction {
  text-align: left;
  margin: 0px 50px;
}

.intro-elements {
  display: flex;
}

.intro-elements .intro-text {
  margin-left: 50px;
  width: 50%;
}

.intro-elements .intro-image {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.intro-2 {
  display: flex;
}

.intro-2 .intro-text {
  margin-right: 50px;
  width: 50%;
}

.intro-2 .intro-image {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.introduction #richard {
  text-align: center;
  padding-top: 10px;
  font-size: 32px;
}
